<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="titulo ion-text-capitalize">
            Ranking Países
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title class="titulo ion-text-capitalize" size="large">Ranking Países</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-grid *ngIf="paises">
        <ion-row class="row header">
            <ion-col size="3" class="col">País</ion-col>
            <ion-col size="3" class="col">Casos</ion-col>
            <ion-col size="2" class="col">C/D</ion-col>
            <ion-col size="2" class="col">Muertes</ion-col>
            <ion-col size="2" class="col">M/D</ion-col>

        </ion-row>

        <ion-row *ngFor="let pais of paises" class="row">
            <ion-col size="3" class="col">{{pais.country}}</ion-col>
            <ion-col size="3" class="col">{{pais.cases}}</ion-col>
            <ion-col size="2" class="col">{{pais.todayCases}}</ion-col>
            <ion-col size="2" class="col">{{pais.deaths}}</ion-col>
            <ion-col size="2" class="col">{{pais.todayDeaths}}</ion-col>
        </ion-row>

    </ion-grid>

</ion-content>