<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="titulo ion-text-capitalize">
            Gráfico por país
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title class="titulo ion-text-capitalize" size="large">Gráfico por país</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card class="card-round ion-margin-top ion-margin-bottom">
        <ion-card-header class="titulo-casos">
            {{country}}
        </ion-card-header>
        <ion-card-content>
            <canvas #linesChart></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-round ion-margin-top ion-margin-bottom">
        <ion-card-header class="titulo-casos">
            {{country}}
        </ion-card-header>
        <ion-card-content>
            <canvas #radarChart></canvas>
        </ion-card-content>
    </ion-card>

</ion-content>